<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kpp_rt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="SqlBD" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS; AttachDbFilename=|DataDirectory|\kpp_fin.mdf; Integrated Security=True;Connect Timeout=30;User Instance=True"/>
    <add name="SqlBackup" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS; AttachDbFilename=|DataDirectory|\kppbasebackup.mdf; Integrated Security=True;Connect Timeout=30;User Instance=True"/>

  </connectionStrings>
  <userSettings>
    <kpp_rt.Properties.Settings>
      <setting name="local_city" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="baudrate" serializeAs="String">
        <value />
      </setting>
      <setting name="parity" serializeAs="String">
        <value />
      </setting>
      <setting name="databits" serializeAs="String">
        <value />
      </setting>
      <setting name="stopbits" serializeAs="String">
        <value />
      </setting>
      <setting name="save_com" serializeAs="String">
        <value />
      </setting>
      <setting name="users" serializeAs="String">
        <value />
      </setting>
      <setting name="id" serializeAs="String">
        <value />
      </setting>
    </kpp_rt.Properties.Settings>
  </userSettings>
</configuration>